fastapi
uvicorn[standard]
sqlalchemy
alembic
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
pydantic-settings
psycopg2-binary
email-validator
python-multipart
pyresparser
spacy
openai
pypdf
beautifulsoup4
google-search-results
transformers
torch
